.box{
    padding: 20px;
}

.box__padre{
    display: flex;
    gap: 100px;
} 

.box__hijo{
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    background: rgb(216, 216, 216);
    padding: 15px 60px 10px 40px;
}

.box__hijoTitulo{
    background-color: white;
    display: flex;
    margin: 5px 100px 20px 50px ;
    justify-content: center;
}

.box__hijo-box1{
    display: grid;
    grid-template-columns: repeat(4,150px);
    grid-template-rows: 250px 190px;
    gap: 20px 20px;
    background-color: rgb(175, 175, 175);
    justify-content:end;
    padding: 40px 20px 40px 50px ;

}
.box__hijo-box1-item--1{
    grid-area: 1 / 1 / 3 / 3;
    background-color: aqua;
}
.box__hijo-box1-item--2{
    grid-area: 1 / 3 / 2 / 5;
    background-color: aqua;
}

.box__hijo-box1-item--3{
    grid-area: 2 / 3 / 3 / 4;
    background-color: aqua;
}

.box__hijo-box1-item--4{
    grid-area: 2 / 4 / 3 / 5;
    background-color: aqua;
}

.box__hijo-box2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 25px;
    background-color: rgb(175, 175, 175);

}

.box__hijo-box2 .img{
    width: 60%;
    border-radius: 100%;
}

.box__hijo-box2-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.caja__padre {
     display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px 20px;
    background: rgb(216, 216, 216);
    padding: 15px 60px 10px 40px;
    background-image: url(https://images.pexels.com/photos/1558916/pexels-photo-1558916.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo {
    background-color: rgb(23, 127, 212);
    color: azure;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.caja__hijo{
    display: grid;
    grid-template-columns: 125px 125px 200px 200px;
    grid-template-rows: repeat(4,125px);
    gap: 20px 40px;
    background-color: rgb(175, 175, 175);
    padding: 40px 20px 40px 50px ;
    justify-content: center;
}
.caja__padre--1 {
    grid-area: 1/1/3/3;
    background-color: aqua;
}

.caja__padre--2 {
    grid-area: 1/3/2/4;
    background-color: aqua;
}

.caja__padre--3 {
    grid-area: 1/4/2/5;
    background-color: aqua;
}

.caja__padre--4 {
    grid-area: 2/3/3/4;
    background-color: aqua;
}

.caja__padre--5 {
    grid-area: 2/4/3/5;
    background-color: aqua;
}

.caja__padre--6 {
    grid-area: 3/1/5/3;
    background-color: aqua;
}
.caja__padre--7 {
    grid-area: 3/3/5/5;
    background-color: aqua;
}
.img{
    border-radius: 100%;
    width: 30%;
    padding: 10px;
}
.contenido{
    display: flex;
    background-color: rgb(175, 175, 175);
    padding: 20px;
}
.contenido--texto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 193, 44) ;
    color: rgb(92, 20, 20);
}
.contenido--img{
    display: flex;
    background-color: rgb(23, 127, 212);
    padding: 30px;
    align-content: center;
    margin-left: 20px;
}
.texto{
    padding: 20px;
}
.foto{
    width: 300px;
    height: 270px;
}
.foto_pequeña{
    width: 200px;
    height: 125px;
}
.foto1{
    width: 440px;
    height: 270px;
}